<%= simple_form_for(cocktail) do |f| %>
<div class="form-group">
  <%= f.input :name, class: 'form-control' %>

  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
</div>
  <%= f.submit class: 'btn btn-danger btn-lg'%>
<% end %>
